Repository thousight/react-native-draggable-switch: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "tslint",
  "*.{ts,tsx,json,md}": ["prettier --write", "git add"]
}

add UNSAFE to componentWillMount
  src/Switch.tsx
Due: tslint, prettier --write

add UNSAFE to componentWillMount (#23)
  src/Switch.tsx
Due: tslint, prettier --write

Greenkeeper/ts jest 25.2.1 (#33)
  package.json
  yarn.lock
Due: prettier --write

Greenkeeper/lint staged 10.0.7 (#34)
  package.json
  yarn.lock
Due: prettier --write

chore(package): update all dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(package): update all dependencies (#35)
  package.json
  yarn.lock
Due: prettier --write

fix(yarn.lock): ignore yarn.lock in travis to improve pipeline
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

chore(revert): revert upgrade @types/react from 24 to 23
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.1.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f9b84e1de126e8b5ec306e72a5c991be3b867449
Due: none
