Repository thousight/react-native-draggable-switch: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, prettier --write

Updated file structures
  README.md
  src/components/ModalBody/index.tsx
  src/components/ModalBody/styles.ts
  src/components/ModalBody/types.ts
  src/components/SessionTimerModal.tsx
  src/components/SessionTimerModal/index.tsx
  src/components/SessionTimerModal/styles.ts
  src/components/SessionTimerModal/types.ts
  src/index.ts
  src/utils.ts
  tslint.json
Due: tslint, prettier --write

Refactored button configs
  README.md
  src/components/ModalBody/index.tsx
  src/components/ModalBody/styles.ts
  src/components/SessionTimerModal/index.tsx
  src/components/SessionTimerModal/types.ts
Due: tslint, prettier --write

Quick readme fix
  README.md
Due: prettier --write

Added gif demo
  README.md
Due: prettier --write

Updated gif link
  README.md
Due: prettier --write

Migrated switch code in
  package.json
  src/Switch.test.tsx
  src/Switch.tsx
  src/components/ModalBody/index.tsx
  src/components/ModalBody/styles.ts
  src/components/ModalBody/types.ts
  src/components/SessionTimerModal/index.tsx
  src/components/SessionTimerModal/styles.ts
  src/components/SessionTimerModal/types.ts
  src/index.ts
  src/styles.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
  yarn.lock
Due: tslint, prettier --write

Get jest/enzyme test working
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write

Updating npm publish setup
  .gitignore
  .npmrc
  .releaserc
  .travis.yml
  README.md
  package.json
  yarn.lock
Due: prettier --write

A bit of travis clean up
  .travis.yml
Due: none

Added coverall badge
  README.md
Due: prettier --write

Add Codacy badge
  README.md
Due: prettier --write

Add Codacy badge (#3)
  README.md
Due: prettier --write

chore(release): initial release
  package.json
Due: prettier --write

feat(release): release!
  package.json
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Rearranged badges
  README.md
Due: prettier --write

fix(tsconfig): Fixed ts compiled code
  tsconfig.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  package.json
Due: prettier --write

fix(Switch): Fixed tapping not switching
  src/Switch.tsx
Due: tslint, prettier --write

chore(readme): added demo gif
  README.md
Due: prettier --write

chore(release): 1.0.2 [skip ci]
  package.json
Due: prettier --write

chore(test): fixed test coverage
  src/Switch.test.tsx
Due: tslint, prettier --write

fix(Switch): fix tap is sometimes not working in iOS
  src/Switch.tsx
Due: tslint, prettier --write

chore(release): 1.0.3 [skip ci]
  package.json
Due: prettier --write

fix(Switch): improved Switch efficiency
  src/Switch.tsx
Due: tslint, prettier --write

chore(release): 1.0.4 [skip ci]
  package.json
Due: prettier --write

chore(dependencies): fixed react and react types update
  package.json
  yarn.lock
Due: prettier --write

Fix lock file
  yarn.lock
Due: none

Greenkeeper/@types/react 16.8.13 (#8)
  package.json
  yarn.lock
Due: prettier --write

chore(package): update lockfile yarn.lock
  yarn.lock
Due: none

Greenkeeper/@types/react 16.8.18 (#12)
  package.json
  yarn.lock
Due: prettier --write

feat: made tapping on background toggle the switch
  src/Switch.test.tsx
  src/Switch.tsx
Due: tslint, prettier --write

Clean up some unused imports
  src/Switch.test.tsx
Due: tslint, prettier --write

Another clean up
  src/Switch.tsx
Due: tslint, prettier --write

feat: made tapping on background toggle the switch (#13)
  src/Switch.test.tsx
  src/Switch.tsx
Due: tslint, prettier --write

chore(release): 1.1.0 [skip ci]
  package.json
Due: prettier --write

Greenkeeper/@types/react 16.8.19 (#15)
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  tslint: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,json,md}
